<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form id="group-form" role="form" action="/groups/<%= params.id %>?_method=PUT" method="POST">
      <fieldset>
        <legend>Update this Group</legend>
        <% if(params.errors) { %>
        <div class="control-group">
          <% for(var err in params.errors) { %>
            <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= params.errors[err]; %></li>
          <% } %>
        </div>
        <% } %>
  
        <%- partial('form', {group: group}) %>
  
        <div class="form-actions">
          <%- contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'}) %>
          <%- contentTag('button', 'Remove', {type: 'submit', formaction: '/groups/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
        </div>
      </fieldset>
    </form>
  </div>
</div>
