<h1>You are invited to join <%= name %>'s ChoreShare group <em><%= group %></em>.</h1>

<p>ChoreShare is a great way for people to easily share tasks.</p>

<p>Please sign up for an account here if you don't already have one: <a href="<%= signupLink %>"><%= signupLink %></a></p>

<p>Once logged in, you can use this link to accept their invite.</p>

<p><a href="<%= acceptLink %>"><%= acceptLink %></a></p>